/* Full-screen gradient background */
.landing-container {
  height: 100vh;
  background: linear-gradient(to bottom, #010D29, #072E69);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  
}

/* Logo styling */
.landing-logo {
  width: 200px;
  max-width: 80%;
  margin-bottom: 30px;
}

/* Start Game button styling */
.start-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #4E6281;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1;
  
}

.start-button:hover {
  background-color: #3a4f6a;
}
